<header class="container">
  <%# <hgroup> %>
    <h1>雑談用のテストブログ</h1>
  <%# </hgroup> %>
</header>

<main class="container" style="padding-top: 0">
  <h2>Edit Article</h2>

  <%= render "form", article: @article %>
</main>
