<header class="container">
  <hgroup>
    <h1>雑談用のテストブログ</h1>
    <h2>Users</h2>
  </hgroup>
</header>

<main class="container">
  <section>
    <div><%= User.count %> users</div>
  </section>
</main>
